<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">SKU</label>
        <input type="text" [(ngModel)]="product.sku" name="sku" class="form-control" placeholder="SKU Code">
      </div>
      <div class="form-group col-md-8">
        <label for="inputPassword4">Name</label>
        <input type="text" [(ngModel)]="product.name" name="name" class="form-control" placeholder="Product Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Description</label>
      <input type="text" [(ngModel)]="product.description" name="description" class="form-control" placeholder="Product Description">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Price</label>
        <input type="number" [(ngModel)]="product.price" name="price" class="form-control" placeholder="Product price">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Date</label>
        <input type="text" [(ngModel)]="product.date" name="date" class="form-control" placeholder="Date">
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Product Image</label>
        <input type="file" (change)="processImage($event)" name="image" class="form-control">
      </div>
    </div>
    <button (click)="submitForm()" class="btn btn-primary">Submit</button>
    <button class="btn btn-danger"  [routerLink]="['/']">Cancel</button>
  </form>
</div>
