<div class="container">
  <div class="row">


    <div class="col-12 col-md-6 col-lg-4" *ngFor="let p of products" style="padding:10px">
      <div class="card">
        <img class="card-img-top" [src]="serverURI+p.image" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">
            <a href="product.html" title="View Product">{{ p.name }}</a>
          </h4>
          <p class="card-text">{{ p.description }}</p>
          <div class="row">
            <div class="col">
              <p class="btn btn-danger btn-block">{{ p.price }}</p>
            </div>
            <div class="col">
              <a href="#" class="btn btn-success btn-block">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
